.background-title{
    background:url("images/Laptop.jpg");
    height:800px;
    background-size: cover;
}

.background-about{
    background:linear-gradient(#222831,#76ABAE);
}


@media only screen and (max-width:992px){
    .display-arrow{
        display:none;
    }
}

.background-project{
    background:linear-gradient(#76ABAE,#EEEEEE);
}

.background-contact{
    background:linear-gradient(#EEEEEE,#76ABAE);
}

.background-footer{
    background-color:#31363F;
    height: 125px;
}






